/* Global styles */
.home-container {
  text-align: center;
  padding: 20px;
}

.search-input {
  width: 60%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.movie-card {
  width: 200px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card h3 {
  margin-top: 10px;
  font-size: 1.1rem;
  color: #333;
}


/* Dark Mode Styles */
body.dark-mode .pagination button {
  background-color: grey; /* Change button background color for dark mode */
}

body.dark-mode .pagination span {
  color: white; /* Make page numbers white in dark mode */
}

body.dark-mode .pagination {
  color: white; /* Ensure pagination text is white */
}

/* Responsive Design */
@media (max-width: 1200px) {
  .movie-list {
    gap: 15px;
  }

  .movie-card {
    width: 220px;
  }
}

@media (max-width: 992px) {
  .movie-list {
    gap: 10px;
  }

  .movie-card {
    width: 240px;
  }
}

@media (max-width: 768px) {
  .search-input {
    width: 80%;
  }

  .movie-list {
    gap: 5px;
  }

  .movie-card {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .search-input {
    width: 90%;
  }

  .movie-card {
    width: 100%;
  }
}
